/* ::ng-deep ng-select .ng-select-container {
  background-color: rgb(50, 19, 188) !important;
  color: black;
}

::ng-deep ng-select .ng-dropdown-panel {
  background-color: rgb(171, 255, 167) !important;
  color: rgb(0, 0, 0);
} */